@import "./_variable.scss";

.academic-info-form {
  padding: 0 8px !important;

  &__add-degree-container {
    justify-content: end;
    margin-top: 8px !important;
  }
  &__add-degree-btn-icon {
    color: $blue_2;
    align-items: baseline;
  }

  &__add-degree-btn-label {
    color: $blue_2;
  }

  &__degree-container {
    text-align: left;
    height: 35vh;
    overflow-y: auto;
    padding-right: 4px;

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px $grey_1;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background: $grey_1;
      border-radius: 10px;
    }

    @media (max-width: 600px) {
      height: 44vh;
    }
  }

  &__input-label {
    color: $blue_2;
  }

  &__textfield {
    input::placeholder {
      font-size: 0.875rem !important;
    }
  }

  &__input-paper-props {
    overflow-x: auto;
    height: 200px;

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px $grey_1;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background: $grey_1;
      border-radius: 10px;
    }
  }

  &__delete-container {
    text-align: right;
    padding: 8px 0;
    border-bottom: 3px dashed $black_5;
  }

  .required {
    color: $red1;
  }

  &__backlogs-container {
    text-align: left;
    margin-top: 8px;
  }

  &--checkbox-label {
    white-space: nowrap;
    color: $blue_2;
  }
}
